* {
	padding: 0;
	margin: 0;
}

ul {
text-align: left;

}

html {
	font-family: Veranda;
	font-size: 13px;
	line-height: 19.5px;
	background-color: #f7e7ce;
	/*background-color: #eadcc2;*/
	background-repeat:no-repeat; 
	background-position:center top;
	margin-top: 20px;
}

body {
	background-color: #FFFFFF;
	color: #000;
	width: 1000px;
	min-height:500px;
	margin: 0 auto 30px auto;

	border-radius: 5px;
}


.body {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

table{
	width: 100%;
}

.textbox {
	font-size: 16px;
	text-align: justify;
	display: block;
	width: auto;
}

.hogre {
	margin-left: 20px;
}
.venstre {
	margin-bottom: 6px;
	margin-right: 20px;
}
.fakta tr td:first-child {
	text-align: left;
	margin-right: 20px;	
}
.fakta tr td:last-child {
	text-align: right;	
}

/*h2 {
	color: #847363;
	font-family: Helvetica;
	font-size: 26px;
	font-weight: 400;
	line-height: 33.8px;
	margin-bottom: 10px;
}*/

.header {
	/*color: #FFDAB9;*/
	color: #977c46; /*samme farge som figur*/
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 100%;
	
}

.header .text {
	vertical-align: bottom;
	align: center;
	padding-bottom: 20px;
	padding-left: 20px;
}

h1,h2,h3 {
	color: #847363;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 200;
	line-height: 25px;
	margin-bottom: 10px;
}

h4 {
	font-size: 16px;
	font-weight: bold;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.07843);
	background-color: rgba(0, 0, 0, 0.05843);
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 6px;
}

p {
	margin-bottom: 20px;

}

label {
	font-weight: bold;
}

.links {
	width: 100%;
	text-align: center;
	font-size: 16px;
	border: 0;
	font-weight: bold;
}

.links a { 
	color: #977c46;
	text-decoration: none;
}
.links a:hover { color: #f04e52 }

div.field, div.actions {
	margin-bottom: 10px;
}

div.post {
	border-bottom: 1px solid #8c8171;
	margin-bottom: 30px;
}

input {
	font-family: Verdana;
	font-size: 13px;
	line-height: 19.5px;
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 2px 4px;
}

#post_submit:hover,#comment_submit:hover {
	background-color: #ddd;
}

textarea {
	font-family: Verdana;
	font-size: 13px;
	line-height: 19.5px;
	width: 100%;
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 4px;
}

.noBullet { 
	list-style: none;
}

.program_links{
	padding-left: 10px;
}

.info_links {
	padding-top: 10px;
}

#notice {
	color: green;
}

.field_with_errors input,.field_with_errors textarea{
	border-color: red;
}

#error_explanation {
	border: 1px solid rgba(0, 0, 0, 0.07843);
	background-color: rgba(0, 0, 0, 0.05843);
	border-radius: 3px;
	padding: 7px; 
	margin-bottom: 20px;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	color: red;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}


