<h2>Forlovere</h2>
<p>
	<h4>Hanne Cathrine</h4>
	<table>
		<tr>
			<td align="right">
				<%= image_tag("hc.jpg") %>
			</td>
			<td>
				<div class="textbox hogre">
		Hanne Cathrine, bedre kjent som HC, er en barndomsvenninne av Katherine. HC er en fornuftig, omtenksom og omsorgsfull jente som har bein i nesa. 			Katherine mener det bare er positive ting å si om HC, men folk som kjenner HC vil kanskje påpeke at hun er fashionably late. Hun er ikke så flink til å komme tidsnok til avtaler, men egentlig har hun full kontroll. Det er bare et akademisk kvarter... Vi satser på at du kommer tidsnok til kirken :) Fra spøk til alvor, vi har stor tro på at du klarer jobben med glans. Det er en glede å ha deg som forlover!
				</div>
			</td>	
		</tr>
	</table>
</p>

<p>
	<h4>Hanne</h4>
	<table>
		<tr>
			<td>
				<div class="textbox venstre">
					Hanne er en barndomsvenninne av Katherine. Denne jenta takker aldri nei til festligheter og latteren sitter alltid løst. Hanne er en impulsiv og eventyrlysten jente. Hver gang Katherine snakker med Hanne på telefon må det minst tre forsøk til for å legge på røret. Vi ringes og har masse å prate om, men å avslutte samtaler, det er ikke vår sterkeste side. Heldigvis ble sms oppfunnet... :) og vi benytter oss mye av det. Vi er sikker på at du klarer jobben med glans. Det er en glede å ha deg som forlover!	
				</div>
			</td>
			<td align="right">
				<%= image_tag("hanne.jpg") %>
			</td>
		</tr>
	</table>
</p>

<p>
	<h4>Kenneth</h4>
	<table>
		<tr>
			<td align="right">
				<%= image_tag("kenneth.jpg") %>
			</td>
			<td>
				<div class="textbox hogre">
					Kenneth ...........asdf .asdf a.sdf a.sdf a.sdf a.sdf 					Kenneth ...........asdf .asdf a.sdf a.sdf a.sdf a.sdf 					Kenneth ...........asdf .asdf a.sdf a.sdf a.sdf a.sdf 					Kenneth ...........asdf .asdf a.sdf a.sdf a.sdf a.sdf 
				</div>
			</td>	
		</tr>
	</table>
</p>

<p>
	<h4>Martin</h4>
	<table>
		<tr>
			<td>
				<div class="textbox venstre">
					Martin ...........asdf .asdf a.sdf a.sdf a.sdf a.sdf 					Kenneth ...........asdf .asdf a.sdf a.sdf a.sdf a.sdf 					Kenneth ...........asdf .asdf a.sdf a.sdf a.sdf a.sdf 					Kenneth ...........asdf .asdf a.sdf a.sdf a.sdf a.sdf 
				</div>
			</td>
			<td align="right">
				<%= image_tag("martin.jpg") %>
			</td>
		</tr>
	</table>
</p>


