<h2>Forlovere</h2>
<p>
	<h4>Hanne Cathrine</h4>
	<table>
		<tr>
			<td align="right">
				<%= image_tag("hc.jpg") %>
			</td>
			<td>
				<div class="textbox hogre">
		Hanne Cathrine, bedre kjent som HC, er en barndomsvenninne av Katherine. HC er en fornuftig, omtenksom og omsorgsfull jente som har bein i nesa. 			Katherine mener det bare er positive ting å si om HC, men folk som kjenner HC vil kanskje påpeke at hun er fashionably late. Hun er ikke så flink til å komme tidsnok til avtaler, men egentlig har hun full kontroll. Det er bare et akademisk kvarter... Vi satser på at du kommer tidsnok til kirken :) Fra spøk til alvor, vi har stor tro på at du klarer jobben med glans. Det er en glede å ha deg som forlover!
				</div>
			</td>	
		</tr>
	</table>
</p>

<p>
	<h4>Hanne</h4>
	<table>
		<tr>
			<td>
				<div class="textbox venstre">
					Hanne er en barndomsvenninne av Katherine. Denne jenta takker aldri nei til festligheter og latteren sitter alltid løst. Hanne er en impulsiv og eventyrlysten jente. Hver gang Katherine snakker med Hanne på telefon må det minst tre forsøk til for å legge på røret. Å avslutte samtaler er ikke deres sterkeste side, heldigvis ble sms oppfunnet... :) og det blir ofte benyttet. Vi er sikker på at du klarer jobben med glans. Det er en glede å ha deg som forlover!	
				</div>
			</td>
			<td align="right">
				<%= image_tag("hanne.jpg") %>
			</td>
		</tr>
	</table>
</p>

<p>
	<h4>Kenneth</h4>
	<table>
		<tr>
			<td align="right">
				<%= image_tag("kenneth.jpg") %>
			</td>
			<td>
				<div class="textbox hogre">
					Kenneth har gjort det meste rett for å gå godt sammen med Håkon: Sportsinteressert, heier på Brann og heier på Tottenham. På barneskolen ble Kenneth fort inkludert i "Kaldestadgjengen" til tross for at grensebjørka står eit par meter frå husveggen :) I deres tidligere fotballkarrierer var Kenneth en klippe i forsvaret, mens Håkon sjonglerte mellom venstre back og venstre benk. I romjulscupen vises det årlig frem gamle kunster fra begge to. Kenneth viser at han har kontroll med alt han foretar seg og det er en glede å ha deg som forlover! 
				</div>
			</td>	
		</tr>
	</table>
</p>

<p>
	<h4>Martin</h4>
	<table>
		<tr>
			<td>
				<div class="textbox venstre">
					Martin og Håkon ble "kjent" i det som senere er omtalt som "Slaget om chips-posen". Den grådige endte nok opp med halvannen pose, mens den redelige karen måtte klare seg med bare en halv. Moral og etikk ble heldigvis godt skolert på søndagsskolen der vi begge var fast inventar. I senere skoleår har Martin og Håkon holdt seg i samme klasse i 11 av 12 år, noe som nok er rekord for begge. Martin er en livsnyter som har egne evner til både å ta livet med ro og til å få stemningen i gjengen til topps. Det er en glede å ha deg som forlover!
				</div>
			</td>
			<td align="right">
				<%= image_tag("martin.jpg") %>
			</td>
		</tr>
	</table>
</p>


