<h2>Forlovere</h2>
<p>
	<h4>Hanne Cathrine</h4>
	<table>
		<tr>
			<td align="right">
				<%= image_tag("hc.jpg") %>
			</td>
			<td>
				<div class="textbox hogre">
		Hanne Cathrine, bedre kjent som HC, er en barndomsvenninne av Katherine. HC er en fornuftig, omtenksom og omsorgsfull jente som har bein i nesa. 			Katherine mener det bare er positive ting å si om HC, men folk som kjenner HC vil kanskje påpeke at hun er fashionably late. Hun er ikke så flink til å komme tidsnok til avtaler, men egentlig har hun full kontroll. Det er bare et akademisk kvarter... Vi satser på at du kommer tidsnok til kirken :) Fra spøk til alvor, vi har stor tro på at du klarer jobben med glans. Det er en glede å ha deg som forlover!
				</div>
			</td>	
		</tr>
	</table>
</p>

<p>
	<h4>Hanne</h4>
	<table>
		<tr>
			<td>
				<div class="textbox venstre">
					Hanne er en barndomsvenninne av Katherine. Denne jenta takker aldri nei til festligheter og latteren sitter alltid løst. Hanne er en impulsiv og eventyrlysten jente. Hver gang Katherine snakker med Hanne på telefon må det minst tre forsøk til for å legge på røret. Vi ringes og har masse å prate om, men å avslutte samtaler, det er ikke vår sterkeste side. Heldigvis ble sms oppfunnet... :) og vi benytter oss mye av det. Vi er sikker på at du klarer jobben med glans. Det er en glede å ha deg som forlover!	
				</div>
			</td>
			<td align="right">
				<%= image_tag("hanne.jpg") %>
			</td>
		</tr>
	</table>
</p>

<p>
	<h4>Kenneth</h4>
	<table>
		<tr>
			<td align="right">
				<%= image_tag("kenneth.jpg") %>
			</td>
			<td>
				<div class="textbox hogre">
					Kenneth  har gjort det meste rett for å gå godt sammen med Håkon. Sportsinteressert, heiar på Brann og heiar på Tottenham. På barneskulen blei du fort inkludert i "Kaldestadgjengen" til tross for at grensebjørka står eit par meter frå husveggen :) Me hadde og glede av å spela fotball sammen i mange år, og i romjulscupen visar me stadig gamle kunstar. På vidaregåande var me begge heldige som kom inn i idrettsklassen, og som om ikkje det var nok endte me også opp i samme tropp i millitæret. Du er ein rolig kar som eg skjelden eller aldri har sett stressa. Det er ein glede å ha deg som forlovar! 
				</div>
			</td>	
		</tr>
	</table>
</p>

<p>
	<h4>Martin</h4>
	<table>
		<tr>
			<td>
				<div class="textbox venstre">
					Martin og Håkon blei "kjent" i det som seinare er omtalt som "Slaget om chips-posen". Den grådige endte nok opp med halvannen pose, mens den redelige karen(du) måtte klare seg med bare ein halv. Moral og etikk blei heldigvis godt skolert på søndagsskulen der vi begge var fast inventar. Når me seinare begynte på skulen har me holdt oss i samme klasse i 11 av 12 år, noko som nok er rekord for oss begge. Martin er ein livsnytar som har egen evner til både å ta livet med ro og til å få stemningen i gjengen til topps. Det er ein glede å ha deg som forlovar!
				</div>
			</td>
			<td align="right">
				<%= image_tag("martin.jpg") %>
			</td>
		</tr>
	</table>
</p>


