<html>
	<body>
		<p>
			Velkommen til ei utrulig fin velkomstsida!
			
			forslag til menypunkt:
			hjem (om oss)
			forlovere
			program
				kirken 
			toastmastere
			nyttig info
				overnatting
				selskapslokale
				kart
			gjelstebok
			ønskeliste
		</p>
	</body>

</html>