<table class="center">
	<tr>
		<td class="textbox venstre">
			<h2>Kjære familie og venner!</h2>
			<p>Velkommen til Katherine og Håkons bryllupsside. Vi gleder oss til å feire den store dagen, lørdag 30. juni 2012, sammen med dere. Vielsen finner sted i Gamle Aker kirke med påfølgende middag og fest på Ekebergrestauranten. 
			</p>
			<p>Informasjon om vielsen og selskapslokalet finner du under <i>program</i>. Under <i>forlovere</i> og <i>toastmastere</i> kan du bli bedre kjent med disse. Annen informasjon håper vi å ha dekket under <i>nyttig info</i>. Vi har også lagt ut <i>gjestebok</i> og <i>ønskeliste</i> som du kan besøke på de øvrige lenkene.
			</p>
		</td>
		<td>
			<%= image_tag("glasses.gif") %>
		</td>
	</tr>
</table>
<table class="center">	
	<tr>
		<td>
			<%=image_tag("hagahui.jpg") %>
		</td>
		<td>
			<div class="textbox hogre">
				<h3>Kort om oss</h3>
				<p>
			Katherine og Håkon startet begge å studere til Sivilingeniør på NTNU i 2003 og ble kjærester like etter skolestart. Etter fem fine år i Trondheim flyttet vi til Oslo for å starte "karrierelivet". 
				</p>
				<p>
					I Oslo trives vi veldig godt både på jobb og på fritid. Katherine jobber i Statens jernbanetilsyn og er ofte ute og inspiserer virksomhetene. Håkon jobber i Bekk Consulting AS og arbeider med fornying og forbedring av IT-løsninger for kunden.
				</p>
			</div>
		</td>
	</tr>
</table>
