<table class="center">
	<tr>
		<td class="textbox venstre">
			<h2>Kjære familie og venner!</h2>
			Velkommen til Katherine og Håkons bryllupsside. Vi gleder oss til å feire den store dagen, lørdag 30. juni 2012, sammen med familie og venner. Vi gifter oss denne dagen i Gamle Aker kirke med påfølgende middag og fest på Ekebergrestauranten. Informasjon om vielsen og selskapslokalet finner du under program. Under forlovere og toastmastere kan du bli bedre kjent med disse. Annen informasjon håper vi å ha dekket under nyttig informasjon. Vi har også lagt ut gjestebok og ønskeliste som du kan besøke på de øvrige lenkene.
		</td>
		<td>
			<%=image_tag("hagahui.jpg") %>
		</td>
	</tr>
</table>
<table class="center">	
	<tr>
		<td>
			<%= image_tag("glasses.gif") %>
		</td>
		<td>
			<div class="textbox hogre">
				<h3>Kortversjonen om oss</h3>
			Katherine og Håkon startet begge å studere på NTNU i 2003 og ble kjærester like etter skolestart. Etter endt studie flyttet vi til Oslo for å starte "karriærelivet". 
			</div>
		</td>
	</tr>
</table>
