<a href="/pages/selskapslokale">Mer info om selskapslokalet</a>
<p>
	Her kommer det info om overnatting
</p>
<p>
	Her kommer det info om kart og veibeskrivelse
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=no&amp;geocode=&amp;q=Ekebergrestauranten+AS,+Kongsveien,+Oslo,+Norge&amp;aq=0&amp;oq=ekebergres&amp;sll=59.8997,10.762997&amp;sspn=0.024105,0.090895&amp;vpsrc=0&amp;ie=UTF8&amp;hq=Ekebergrestauranten+AS,+Kongsveien,+Oslo,+Norge&amp;t=m&amp;ll=59.899456,10.76165&amp;spn=0.011192,0.032015&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=no&amp;geocode=&amp;q=Ekebergrestauranten+AS,+Kongsveien,+Oslo,+Norge&amp;aq=0&amp;oq=ekebergres&amp;sll=59.8997,10.762997&amp;sspn=0.024105,0.090895&amp;vpsrc=0&amp;ie=UTF8&amp;hq=Ekebergrestauranten+AS,+Kongsveien,+Oslo,+Norge&amp;t=m&amp;ll=59.899456,10.76165&amp;spn=0.011192,0.032015" style="color:#0000FF;text-align:left">Vis større kart</a></small>


