<p>
	<div class="textbox"> På denne siden har vi samlet informasjon om hvordan man kommer seg til de forskjellige lokasjonene og informasjon om overnatting. 
		<ul>
			<li>Veibeskrivelse fra sentrum til kirken</li>
			<li>Veibeskrivelse fra kirken til selskapslokalet</li>
			<li>Overnatting</li>
		</ul>
	</div>
</p>



<h2>Veibeskrivelse</h2>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Gamle+Aker+kirke,+Akersbakken,+Oslo,+Norge&amp;daddr=59.91908,10.74374+to:Ekebergrestauranten+AS,+Kongsveien,+Oslo,+Norge&amp;hl=no&amp;geocode=FQFdkgMdkPyjACEjoCcNlFK93g%3BFehKkgMdvO-jACmVtFJOe25BRjFyZEkyikn8Xw%3BFZn9kQMdTjWkACEU-vVSUajf7Q&amp;aq=2&amp;oq=best+we&amp;sll=59.912095,10.749092&amp;sspn=0.050775,0.181789&amp;mra=dpe&amp;mrsp=1&amp;sz=13&amp;via=1&amp;ie=UTF8&amp;t=m&amp;ll=59.912095,10.749092&amp;spn=0.050775,0.181789&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=Gamle+Aker+kirke,+Akersbakken,+Oslo,+Norge&amp;daddr=59.91908,10.74374+to:Ekebergrestauranten+AS,+Kongsveien,+Oslo,+Norge&amp;hl=no&amp;geocode=FQFdkgMdkPyjACEjoCcNlFK93g%3BFehKkgMdvO-jACmVtFJOe25BRjFyZEkyikn8Xw%3BFZn9kQMdTjWkACEU-vVSUajf7Q&amp;aq=2&amp;oq=best+we&amp;sll=59.912095,10.749092&amp;sspn=0.050775,0.181789&amp;mra=dpe&amp;mrsp=1&amp;sz=13&amp;via=1&amp;ie=UTF8&amp;t=m&amp;ll=59.912095,10.749092&amp;spn=0.050775,0.181789" style="color:#0000FF;text-align:left">Vis større kart</a></small>

<h2>Overnatting</h2>
<div class="textbox">
	<p>
		Vi har ordnet avtale med Best Western Hotell Karl Johan. Denne avtalen innebærer rabatterte priser for overnatting og parkering. De vil også dekke opp et eget rom for oss til felles frokost. 
	</p>
	<table>
		<tr>
			<td>Enkeltrom</td>
			<td>895,- pr. natt</td>
		</tr>
		<tr>
			<td>Dobbeltrom</td>
			<td>1095,- pr. natt</td>
		</tr>
		<tr>
			<td>Familierom (Stort dobbeltrom med bedre plass til ekstrasenger)</td>
			<td>1095,- pr. natt</td>
		</tr>
		<tr>
			<td>Ekstraseng til barn under 12 år</td>
			<td>150,- pr. natt</td>
		</tr>
		<tr>
			<td>Ekstraseng til barn over 12 år</td>
			<td>300,- pr. natt</td>
		</tr>
		<tr>
			<td>Parkering i parkeringshus</td>
			<td>180,- pr. døgn</td>
		</tr>
	</table>
	<p></p>
	<p>
		Se <a href="www.karljohan.no">www.karljohan.no</a> for mer informasjon om hotellet.
	</p>
	<p>
	De som ønsker å benytte seg av tilbudet, kontakt hotellet på telefon 23 16 17 00 eller e-post karljohan@bestwestern.no. Ved bestilling er det viktig å referere til referansenummer 1075751. Det må oppgis kredittkortinformasjon for å garantere bestillingen. 
	</p>
</div>


