<h2>Nyttig informasjon</h2>
<p>
	<div class="textbox"> På denne siden har vi samlet informasjon om hvordan man kommer seg til de forskjellige lokasjonene og informasjon om overnatting. 
		<ul>
			<li class="info_links"><a href="#sentrumTilKirken">Veibeskrivelse fra sentrum til kirken</a></li>
			<li class="info_links"><a href="#kirkeTilSelskapslokale">Veibeskrivelse fra kirken til selskapslokalet</a></li>
			<li class="info_links"><a href="#overnatting">Overnatting</a></li>
		</ul>
	</div>
</p>

<h2 id="sentrumTilKirken">Veibeskrivelse fra sentrum til kirken</h2>
<table>
	<tr>
		<td class="textbox venstre">
			<p>Det er også fullt mulig å gå fra Hotellet til kirken. Da følger man Universitetsgata. Kryss over Pilestredet og fortsett i samme retning etter fotgjengerfeltet. Fra St. Olavs plass (Stor rundkjøring med merkelig kunst) følger du St. Olavs gate til Ullevålsveien. Ta til venstre opp Ullevålsveien og ta til høyre etter kirkegården (Akersbakken). </p>
			<p>For de som ønsker å benytte kollektiv transport stopper buss 33, 37 og 46 ved stoppet Stensberggata. Herfra går man opp Akersbakken, ca 200 meter, til kirken</p>
			<p>Kartet viser hvordan man kommer seg med bil til Gamle Aker kirke. Man kjører først opp Karl Johan til Fredriksgate, og tar til høyre. Følg så Ring 1 og legg merke til når du kjører inn i Hammersborgtunellen. Ta av mot Ullevål når du er inne i tunellen. Når du kommer ut av tunellen tar du til høyre i rundkjøringen, og rett frem i den påfølgende rundkjøringen. Straks kommer du til et lyskryss med en kirke forran deg. Kjør rett fram, men til høyre for kirken og følg veien. Når veien ender på toppen av neste oppoverbakke har du Gamle Aker kirke på høyre hånd. </p>
		
			
		</td>
		<td align="right">
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Best+Western+Karl+Johan+Hotell,+Oslo,+Norge&amp;daddr=59.91733,10.73545+to:Gamle+Aker+kirke,+Oslo,+Norge&amp;hl=no&amp;geocode=FR03kgMdqtujACHLn2Q2DGkc3g%3BFRJEkgMdWs-jACl1N5QlfG5BRjHBnlwlyrCBbQ%3BFQFdkgMdkPyjACEjoCcNlFK93g&amp;aq=0&amp;oq=gamle+aker+kirke&amp;sll=59.921517,10.747976&amp;sspn=0.01198,0.045447&amp;mra=mrv&amp;via=1&amp;ie=UTF8&amp;t=m&amp;ll=59.921517,10.747976&amp;spn=0.01198,0.045447&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=Best+Western+Karl+Johan+Hotell,+Oslo,+Norge&amp;daddr=59.91733,10.73545+to:Gamle+Aker+kirke,+Oslo,+Norge&amp;hl=no&amp;geocode=FR03kgMdqtujACHLn2Q2DGkc3g%3BFRJEkgMdWs-jACl1N5QlfG5BRjHBnlwlyrCBbQ%3BFQFdkgMdkPyjACEjoCcNlFK93g&amp;aq=0&amp;oq=gamle+aker+kirke&amp;sll=59.921517,10.747976&amp;sspn=0.01198,0.045447&amp;mra=mrv&amp;via=1&amp;ie=UTF8&amp;t=m&amp;ll=59.921517,10.747976&amp;spn=0.01198,0.045447" style="color:#0000FF;text-align:left">Vis større kart</a></small>
		</td>
	</tr>
</table>


<h2 id="kirkeTilSelskapslokale">Veibeskrivelse fra kirken til selskapslokalet</h2>
<table>
	<tr>
		<td class="textbox venstre">
			<p>Kartet viser hvordan man kommer seg med bil fra Gamle Aker kirke til Ekebergrestauranten. Kjør ned Ullevålsveien og ta til vestre i den andre av to små rundkjøringer like før regjeringskvartalet. Ta til venstre i tunellen og kjør ut på Ring 1. Følg skitling mot E6/E18. Følg skilting mot Ekeberg og kjør oppover Kongsveien. Ta til venstre ved Sjømannskolen (kryss trikkeskinnene)</p>
			<p>Trikk linje 18 og 19 til Sjømannskolen er gode alternativ dersom man ønsker kollektiv transport</p>

		</td>
		<td align="right">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Gamle+Aker+kirke,+Akersbakken,+Oslo,+Norge&amp;daddr=59.91908,10.74374+to:Ekebergrestauranten+AS,+Kongsveien,+Oslo,+Norge&amp;hl=no&amp;geocode=FQFdkgMdkPyjACEjoCcNlFK93g%3BFehKkgMdvO-jACmVtFJOe25BRjFyZEkyikn8Xw%3BFZn9kQMdTjWkACEU-vVSUajf7Q&amp;aq=2&amp;oq=best+we&amp;sll=59.912095,10.749092&amp;sspn=0.050775,0.181789&amp;mra=dpe&amp;mrsp=1&amp;sz=13&amp;via=1&amp;ie=UTF8&amp;t=m&amp;ll=59.912095,10.749092&amp;spn=0.050775,0.181789&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=Gamle+Aker+kirke,+Akersbakken,+Oslo,+Norge&amp;daddr=59.91908,10.74374+to:Ekebergrestauranten+AS,+Kongsveien,+Oslo,+Norge&amp;hl=no&amp;geocode=FQFdkgMdkPyjACEjoCcNlFK93g%3BFehKkgMdvO-jACmVtFJOe25BRjFyZEkyikn8Xw%3BFZn9kQMdTjWkACEU-vVSUajf7Q&amp;aq=2&amp;oq=best+we&amp;sll=59.912095,10.749092&amp;sspn=0.050775,0.181789&amp;mra=dpe&amp;mrsp=1&amp;sz=13&amp;via=1&amp;ie=UTF8&amp;t=m&amp;ll=59.912095,10.749092&amp;spn=0.050775,0.181789" style="color:#0000FF;text-align:left">Vis større kart</a></small>
		</td>
	</tr>
</table>

<h2 id="overnatting">Overnatting</h2>
<div class="textbox">
	<p>
		Vi har ordnet avtale med Best Western Hotell Karl Johan. Denne avtalen innebærer rabatterte priser for overnatting og parkering. De vil også dekke opp et eget rom for oss til felles frokost. 
	</p>
	<table>
		<tr>
			<td>Enkeltrom</td>
			<td>895,- pr. natt</td>
		</tr>
		<tr>
			<td>Dobbeltrom</td>
			<td>1095,- pr. natt</td>
		</tr>
		<tr>
			<td>Familierom (Stort dobbeltrom med plass inntil to ekstrasenger)</td>
			<td>1095,- pr. natt</td>
		</tr>
		<tr>
			<td>Ekstraseng til barn under 12 år</td>
			<td>150,- pr. natt</td>
		</tr>
		<tr>
			<td>Ekstraseng til barn over 12 år</td>
			<td>300,- pr. natt</td>
		</tr>
		<tr>
			<td>Parkering i parkeringshus</td>
			<td>180,- pr. døgn</td>
		</tr>
	</table>
	<p></p>
	<p>
		Se <a href="www.karljohan.no">www.karljohan.no</a> for mer informasjon om hotellet.
	</p>
	<p>
	De som ønsker å benytte seg av tilbudet, kontakt hotellet på telefon 23 16 17 00 eller e-post karljohan@bestwestern.no. Ved bestilling er det viktig å oppgi referansenummer 1075751. Det må oppgis kredittkortinformasjon for å garantere bestillingen. 
	</p>
</div>


