

<p>
	<div class="textbox">
		Vi ønsker oss først og fremst gode minner, uforglemmelige øyeblikk, glede, utsøkt mat, fint vær, glade gjester og latter. 
		Ettersom vi er på jakt etter større bolig er det begrenset hva vi har plass til i vår nåværende leilighet. Derfor ønsker vi oss følgende:
		<br>
		<br>
		
		<ul>
			<li>Penger</li>
			<li>Vidvinkel fotoobjektiv 10-20mm som passer til Canon</li>
			<li>Gavekort fra Steen og Strøm</li>
			<li>Gavekort fra Glassmagasinet</li>
			<li>Gavekort fra Sandvika Storsenter</li>
			<li>Gavekort fra Japan Photo</li>								
		</ul>
		
		
		<br>

		<br>
		Vi har også registrert liste hos glassmagasinet som du kan se her (kommer)
	</div>
</p>

