

<p>
	<div class="textbox">
		Vi ønsker oss først og fremst gode minner, uforglemmelige øyeblikk, glede, utsøkt mat, fint vær, glade gjester og latter. 
		Ettersom vi er på jakt etter større bolig, er det begrenset hva vi har plass til i vår nåværende leilighet. Derfor ønsker vi oss følgende:
		<br>
		<br>
		
		<ul>
			<li>Penger</li>
			<li>Vidvinkel fotoobjektiv Canon EF-S 10-22mm F3.5-4.5 USM</li>
			<li>Gavekort fra senteret GlasMagasinet</li>
			<li>Gavekort fra Sandvika Storsenter</li>
			<li>Gavekort fra Ikea</li>
			<li>Gavekort fra Skeidar</li>
			<li>Gavekort fra Bohus</li>						
		</ul>
		
		
		<br>

		<br>
		Vi har også registrert liste hos Christiania GlasMagasin som du kan se <a href="http://www.bryllupslisten.no/Guest/Index">her</a>, med gjestepassord: katherineoghakon
	</div>
</p>

