<table class="center">
	<tr>
		<td class="textbox">
			<h2>Program!</h2>
			<ul>
				<li>01.00 PM - Vielsen starter
					<ul><li><div><a href="/pages/vielse">Informasjon om vielse</a></div></li></ul>
				</li>
				<li>03.30 PM - Apperetiff med påfølgende middag
					<ul><li><div><a href="/pages/selskapslokale">Informasjon om selskapslokale</a></div></li></ul>
				</li>
				<li>08.30 PM - Bryllupsfest m/kaffe og kake</li>
			</ul>
		</td>
		<td align="right">
			<%= image_tag("ring1.jpg") %>
		</td>
	</tr>
</table>
