<table class="center">
	<tr>
		<td class="textbox">
			<h2>Program</h2>
			<ul>
				<li>01.00 PM - Vielsen starter
					<div class="program_links"><a href="/pages/vielse">Informasjon om kirken</a></div>
				</li>
				<p></p>
				<li>03.30 PM - Aperitiff med påfølgende middag
					<div class="program_links"><a href="/pages/selskapslokale">Informasjon om selskapslokale</a></div>
				</li>
				<p></p>
				<li>08.30 PM - Bryllupsfest m/kaffe og kake</li>
				<p></p>
				<li>09.30 PM - Kakeskjæring</li>
				<p></p>
				<li>10.00 PM - Brudevals</li>
				<p></p>
				<li>01.00 AM - Bryllupsfesten avsluttes</li>
				<p></p>
			</ul>
		</td>
		<td align="right">
			<%= image_tag("ring1.jpg") %>
		</td>
	</tr>
</table>
