<table witdh="100%">
	<tr>
		<td class="textbox venstre">
			<h2>Fakta om Ekebergrestauranten</h2>
			<table class="fakta">
				<tr>
					<td>Oppført:</td><td>1927 - 1929</td>
				</tr>
				<tr>
					<td>Arkitekt:</td><td>Lars Thalian Backer</td>
				</tr>
				<tr>
					<td>Beliggenhet:</td><td>Ekebergåsen</td>
				</tr>
				<tr>
					<td>Utsikt:</td><td>Bjørvika, Oslo Sentrum</td>
				</tr>
				<tr>
					<td colspan="2">
						
					</td>
				</tr>			
			</table>
			<br>
			<p>
				Ekebergrestauranten gjenåpnet 19. mars 2005, etter 8 år med stengte dører.
				Ved gjenåpningen var Mellbye Arkitekter ansvarlige arkitekter for bygget og Radius Design hadde ansvaret for interiøret. Ekebergrestauranten gjenoppstod da i ny prakt - en funkisjuvel.
			</p>
		</td>
		<td align="right">
			<%= image_tag("Ekebergrestauranten.jpg") %>
		</td>
	</tr>
	
</table>