<div class="textbox">
<h2>Toastmastere</h2>
<p>
	Toastmastere i bryllupet er Hanne og Martin. Hanne er barndomsvenninne av Katherine. Martin er barndomsvenn av Håkon. De er også forlovere for brudeparet sammen med Hanne Cathrine og Kenneth, og på selve dagen spiller de altså hovedsaklig rollen som toastmastere.
</p>

<p>
	Hanne er en barndomsvenninne av Katherine. Denne jenta takker aldri nei til festligheter og latteren sitter alltid løst. Hanne er en impulsiv og eventyrlysten jente. Hver gang Katherine snakker med Hanne på telefon må det minst tre forsøk til for å legge på røret. Vi ringes og har masse å prate om, men å avslutte samtaler, det er ikke vår sterkeste side. Heldigvis ble sms oppfunnet... :) og vi benytter oss mye av det. Siden du alltid har vært så flink i faget norsk og det er sikkert ikke tilfeldig da det er i genene :) er vi sikre pÂ at den kunnskapen kommer godt med som toastmaster. Det er en Êre Â ha deg som toastmaster og forlover. Vi er sikre pÂ at vitsene kommer som perler pÂ en snor pÂ den store dagen. Det er bare Â slippe l¯s humoren, dere har masse Â glede dere til. Vi er sikker på at du klarer jobben med glans. Det er en glede å ha deg som forlover!
</p>

<p>
	Martin er barndomsvenn av Håkon.
</p>

<p>
Dersom du ønsker å holde tale eller bidra med noe ber vi deg ta kontakt med Martin i god tid før bryllupet. 
</p>
</div>
