
<h2>Toastmastere</h2>
<p>
	<div class="textbox">
		Toastmastere i bryllupet er Hanne og Martin. Hanne er barndomsvenninne av Katherine. Martin er barndomsvenn av Håkon. De er også forlovere for brudeparet sammen med Hanne Cathrine og Kenneth, og på selve dagen spiller de altså hovedsaklig rollen som toastmastere.
	</div>
</p>
<p>
	<h4>Hanne</h4>
	<table>
		<tr>
			<td align="right">
				<%= image_tag("hanne.jpg") %>
			</td>
			<td>
				<div class="textbox hogre">
						Hanne er en barndomsvenninne av Katherine. Denne jenta takker aldri nei til festligheter og latteren sitter alltid løst. Hanne er en impulsiv og eventyrlysten jente. Hver gang Katherine snakker med Hanne på telefon må det minst tre forsøk til for å legge på røret. Vi ringes og har masse å prate om, men å avslutte samtaler, det er ikke vår sterkeste side. Heldigvis ble sms oppfunnet... :) og vi benytter oss mye av det. Siden du alltid har vært så flink i faget norsk og det er sikkert ikke tilfeldig da det er i genene :) er vi sikre på at den kunnskapen kommer godt med som toastmaster. Det er en ære å ha deg som toastmaster og forlover. Vi er sikre på at vitsene kommer som perler på en snor på den store dagen. Det er bare Â slippe humoren løs , dere har masse å glede dere til. Vi er sikker på at du klarer jobben med glans!
				</div>
			</td>	
		</tr>
	</table>
</p>

<p>
	<h4>Martin</h4>
	<table>
		<tr>
			<td>
				<div class="textbox venstre">
					Martin og Håkon blei "kjent" i det som seinare er omtalt som "Slaget om chips-posen". Den grådige endte nok opp med halvannen pose, mens den redelige karen måtte klare seg med bare ein halv. Moral og etikk blei heldigvis godt skolert på søndagsskulen der vi begge var fast inventar. Når me seinare begynte på skulen har me holdt oss i samme klasse i 11 av 12 år, noko som nok er rekord for oss begge. Din munterhet og evne til å skape god stemning gjer at du er eit naturlig valg til å ikle rollen som toastmaster. Vitsane, faktene og ablegøyene kommer nok neppe til å utebli :) Vi er sikre på at du klarer jobben med glans!
				</div>
			</td>
			<td align="right">
				<%= image_tag("martin.jpg") %>
			</td>
		</tr>
	</table>
</p>

<p>
	<div class="textbox">
		Dersom du ønsker å holde tale eller bidra med noe ber vi deg ta kontakt med Martin i god tid før bryllupet.
	</div> 
</p>
</div>
