
<h2>Toastmastere</h2>
<p>
	<div class="textbox">
		Toastmastere i bryllupet er Hanne og Martin. Hanne er barndomsvenninne av Katherine. Martin er barndomsvenn av Håkon. De er også forlovere for brudeparet sammen med Hanne Cathrine og Kenneth, og på selve dagen spiller de altså hovedsaklig rollen som toastmastere.
	</div>
</p>
<p>
	<h4>Hanne</h4>
	<table>
		<tr>
			<td align="right">
				<%= image_tag("hanne.jpg") %>
			</td>
			<td>
				<div class="textbox hogre">
						Hanne er en barndomsvenninne av Katherine. Denne jenta er impulsiv og eventyrlysten. Hanne takker aldri nei til festligheter og latteren sitter alltid løst. Hver gang Katherine snakker med Hanne på telefon må det minst tre forsøk til for å legge på røret. Å avslutte samtaler er ikke deres sterkeste side, heldigvis ble sms oppfunnet... :) og det blir ofte benyttet. Hanne er flink til å sette ord på papiret, og vi er sikre på at den kunnskapen kommer godt med som toastmaster. Det er en ære å ha deg som toastmaster og forlover. Vi er sikre på at vitsene kommer som perler på en snor på den store dagen. Det er bare å slippe humoren løs, dere har masse å glede dere til. Vi er sikre på at du klarer jobben med glans!
				</div>
			</td>	
		</tr>
	</table>
</p>

<p>
	<h4>Martin</h4>
	<table>
		<tr>
			<td>
				<div class="textbox venstre">
					Martin og Håkon ble "kjent" i det som senere er omtalt som "Slaget om chips-posen". Den grådige endte nok opp med halvannen pose, mens den redelige karen måtte klare seg med bare en halv. Moral og etikk ble heldigvis godt skolert på søndagsskolen der vi begge var fast inventar. Når vi senere begynte på skolen har vi holdt oss i samme klasse i 11 av 12 år, noe som nok er rekord for oss begge. Din munterhet og evne til å skape god stemning gjør at du er et naturlig valg til å ikle rollen som toastmaster. Vitsene, faktene og ablegøyene kommer neppe til å utebli :) Vi er sikre på at du klarer jobben med glans!
				</div>
			</td>
			<td align="right">
				<%= image_tag("martin.jpg") %>
			</td>
		</tr>
	</table>
</p>

<p>
	<div class="textbox">
		Dersom du ønsker å holde tale eller bidra med noe ber vi deg ta kontakt med Hanne eller Martin i god tid før bryllupet.
		<br>
		Hanne: 414 02 033, hanneli_84@hotmail.com
		<br>
		Martin: 918 39 045, martin.rossland@gmail.com
		
	</div> 
</p>
</div>
