<p>
	Toastmastere i bryllupet er Hanne og Martin.
</p>

<p>
	Hanne er barndomsvenninne av Katherine. 
</p>

<p>
	Martin er barndomsvenn av Håkon.
</p>

Dersom du ønsker å holde tale eller bidra med noe ber vi deg ta kontakt med Martin i god tid før bryllupet. 
