<table witdh="100%">
	<tr>
		<td class="textbox venstre">
			<h2>Fakta om Gamle Aker kirke</h2>
			<table class="fakta">
				<tr>
					<td>Oppført:</td><td>ca. 1160</td>
				</tr>
				<tr>
					<td>Periode:</td><td>Romansk</td>
				</tr>
				<tr>
					<td>Teknikk:</td><td>Steinkirke (kalkstein)</td>
				</tr>
				<tr>
					<td>Menighet:</td><td>Gamle Aker menighet</td>
				</tr>
				<tr>
					<td>Bydel:</td><td>St. Hanshaugen</td>
				</tr>
			</table>
			<br>
			Det er begrenset med parkeringsplasser rett utenfor kirken, men i nærheten av kirken er det mange sidegater med mulighet for parkering.
		</td>
		<td align="right">
			<%= image_tag("kirke.jpg") %>
		</td>
	</tr>
</table>
